.update-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-left: 525px;
  }
  
  .update-password-card {
    max-width: 400px;
    width: 100%;
  }
  
  .update-password-title {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .update-password-button {
    width: 100%;
  }
  